# Admin Account
ADMIN_USERNAME=1
ADMIN_PASSWORD=1

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://sd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUz
SUPABASE_DATABASE_URL=postgresql://postgres:123@db.wvcwvjlmnjnvyblrycxj.supabase.co:5432/postgres

# Gemini AI
AI_INTEGRATIONS_GEMINI_API_KEY=AIza
AI_INTEGRATIONS_GEMINI_BASE_URL=https://generativelanguage.googleapis.com

# Mapbox (Location autocomplete for posts)
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=pk1IjoiZ2F6

# Deployment
NEXT_PUBLIC_APP_URL=localhost:3000